.image{
  margin: 48px;
  width: 80%;
  border: 2px ridge black;
}
.container{
  background: lightblue;
  width:100%;
  height: 100px;
}
.HL{
  background: blue;
  color:white;
  padding:16px;
}

.covert{
  display: hidden;
  background: transparent;
}